<!DOCTYPE html>
<html lang="en">
  
    <head>
        <title>Chatbot</title>
    </head>

    <body OnLoad="document.myform.text.focus();>
      
      <h2>Chatbot</h2>
      
      <div style="overflow:hidden; height:250px; width:500px; display:flex; flex-direction:column-reverse; border: 2px solid #e7dddd; border-radius:16px;">
        <div style="overflow:auto; height:250px; width:500px; display:flex; flex-direction:column-reverse;">
          <p>{{ result|safe }}</p>
        </div>
      </div>
             
      <form method="POST" name="myform">
        <input name="text">
        <input type="submit">
      </form>
      
    </body>
  
</html>
